pkgbase = ovos-skill-official-date-time
	pkgdesc = OVOS official Date and Time Skill, providing the current time, date and day of week for cities around the world.
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-date-time/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-geocoder>=1.38
	depends = python-ovos-date-parser>=0.0.1
	depends = python-ovos-utils>=0.0.38
	depends = python-ovos-utterance-normalizer>=0.0.1
	depends = python-ovos-workshop>=0.0.16
	depends = python-pytz>=2022.1
	depends = python-timezonefinder>=5.2
	depends = python-tzlocal>=1.3
	provides = ovos-skill-official-date-time
	conflicts = ovos-skill-official-date-time
	conflicts = python-ovos-date-parser>=1.0.0
	conflicts = python-ovos-utterance-normalizer>=1.0.0
	conflicts = python-ovos-workshop>=4.0.0
	source = https://github.com/OpenVoiceOS/skill-ovos-date-time/archive/66b0a2ed65470c5afbd8b3d52df42f85f8ae92e9.tar.gz
	sha256sums = 732fe7eddcf901c399f8a64b7087cc5c487641cce942caa8f8258595ccd9e105

pkgname = ovos-skill-official-date-time
