pkgbase = python-ovos-workshop
	pkgdesc = frameworks, templates and patches for the mycroft universe
	pkgver = 3.3.4
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/OVOS-workshop/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-langcodes
	depends = python-ovos-bus-client>=0.0.8
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-number-parser>=0.0.1
	depends = python-ovos-solver-yes-no-plugin>=0.0.1
	depends = python-ovos-utils>=0.6.0
	depends = python-padacioso
	depends = python-rapidfuzz
	optdepends = python-ovos-classifiers>=0.0.0a46
	optdepends = python-ovos-ocp-audio-plugin
	conflicts = python-ovos-bus-client>=2.0.0
	conflicts = python-ovos-config>=2.0.0
	conflicts = python-ovos-number-parser>=1.0.0
	conflicts = python-ovos-solver-yes-no-plugin>=1.0.0
	conflicts = python-ovos-utils>=1.0.0
	source = https://github.com/OpenVoiceOS/OVOS-workshop/archive/097ae6ad17f177c8fe13cda517cfdf4679a64c60.tar.gz
	sha256sums = 3aeac559e248a765dd8c55b552e355c0644ecc20bb808a7990e12afa73f3da8e

pkgname = python-ovos-workshop
