pkgbase = ovos-skill-official-homescreen
	pkgdesc = OVOS Homescreen Skill Provides custom resting face for OVOS
	pkgver = 3.0.2
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-homescreen/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-lingua-franca>=0.4.7
	depends = python-ovos-phal-plugin-wallpaper-manager
	depends = python-ovos-skill-manager
	depends = python-ovos-bus-client>=1.0.0
	depends = python-ovos-date-parser>=0.0.3
	depends = python-ovos-utils>=0.0.38
	depends = python-ovos-workshop>=2.4.0
	provides = ovos-skill-official-homescreen
	conflicts = ovos-skill-official-homescreen
	conflicts = python-ovos-bus-client>=2.0.0
	conflicts = python-ovos-date-parser>=1.0.0
	conflicts = python-ovos-utils>=2.0.0
	conflicts = python-ovos-workshop>=4.0.0
	source = https://github.com/OpenVoiceOS/skill-ovos-homescreen/archive/8f7d93efb8c5bfb475114974b179376194c6bb8b.tar.gz
	sha256sums = 6d66871013ecc490b857b46fb3419c2f4c0d2a60887753d6e328f18e369d55dc

pkgname = ovos-skill-official-homescreen
