pkgbase = python-ovos-utils
	pkgdesc = collection of simple utilities for use across the mycroft ecosystem
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos_utils/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock>=0.2
	depends = python-json-database>=0.10
	depends = python-kthread>=0.2
	depends = python-orjson
	depends = python-pexpect>=4.9
	depends = python-pyee>=8.0.0
	depends = python-requests>=2.26
	depends = python-rich-click>=1.7
	depends = python-rich>=13.7
	depends = python-watchdog
	optdepends = python-langcodes
	optdepends = python-oauthlib>=3.2
	optdepends = python-ovos-bus-client>=0.0.8
	optdepends = python-ovos-config>=0.0.12
	optdepends = python-ovos-plugin-manager>=0.0.25
	optdepends = python-ovos-workshop>=0.0.13
	optdepends = python-rapidfuzz>=3.6
	optdepends = python-timezonefinder
	conflicts = python-rapidfuzz>=4.0
	source = https://github.com/OpenVoiceOS/ovos_utils/archive/d5ba67ffbb240bd642ab74c774accb54b019c559.tar.gz
	sha256sums = a0d9b2635781c25ed8ac1f51204f05a924d1decfcb3a57323f50429d51eea2cd

pkgname = python-ovos-utils
