pkgbase = python-ovos-bus-client
	pkgdesc = This module is a simple interface for the mycroft messagebus and can be used to connect to ovos, send messages and react to messages sent by the OpenVoiceOS system. This module extends the mycroft-messagebus-client with a Session implementation
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-bus-client/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-orjson
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.3.5
	depends = python-pyee>=8.1.0
	depends = python-websocket-client>=0.54.0
	conflicts = python-ovos-config>=1.0.0
	conflicts = python-ovos-utils>=1.0.0
	conflicts = python-pyee>=12.0.0
	source = https://github.com/OpenVoiceOS/ovos-bus-client/archive/05a02c0be5fcae1af401f2bd538690176467a156.tar.gz
	source = 0001-Loosen-requirements.patch
	sha256sums = 10f16f6b8d4e99f719188270018527cd15dc71fa4cfede51d9d0790d88104a6f
	sha256sums = 2c98f66426aa0075ebbbd14129afed4f7b97792f68904db0ecfc6d4aed27e91d

pkgname = python-ovos-bus-client
