pkgbase = python-ovos-bus-client
	pkgdesc = This module is a simple interface for the mycroft messagebus and can be used to connect to ovos, send messages and react to messages sent by the OpenVoiceOS system. This module extends the mycroft-messagebus-client with a Session implementation
	pkgver = 0.0.10
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-bus-client/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-orjson
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.38
	depends = python-pyee>=8.1.0
	depends = python-websocket-client>=0.54.0
	conflicts = python-ovos-config>=1.0.0
	conflicts = python-ovos-utils>=1.0.0
	source = https://github.com/OpenVoiceOS/ovos-bus-client/archive/85205c67823e07a1f08180c795a32411058f182e.tar.gz
	source = 0001-Loosen-requirements.patch
	sha256sums = a1dfb640cb038b1de60e314d0e410f30b40df41ce208c75e70125aba13f6d93b
	sha256sums = 2c98f66426aa0075ebbbd14129afed4f7b97792f68904db0ecfc6d4aed27e91d

pkgname = python-ovos-bus-client
