pkgbase = python-ovos-plugin-manager
	pkgdesc = OPM can be used to search, install, load and create plugins for the OpenVoiceOS ecosystem!
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-plugin-manager/
	arch = any
	license = UNKNOWN
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock>=0.2
	depends = python-importlib-metadata
	depends = python-langcodes>=3.3.0
	depends = python-ovos-bus-client>=0.0.8
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.38
	depends = python-quebra-frases
	depends = python-requests>=2.26
	depends = python-setuptools
	conflicts = python-ovos-bus-client>=1.0.0
	conflicts = python-ovos-config>=1.0.0
	conflicts = python-ovos-utils>=1.0.0
	source = https://github.com/OpenVoiceOS/ovos-plugin-manager/archive/1ab200ba58a40130a587b25ff2460f0f0ae9f6ae.tar.gz
	sha256sums = 33ae73546fe49b5842b2e516415cbd6a87331917d3b81d5310f654eacc7516e8

pkgname = python-ovos-plugin-manager
